<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">

<form action="/addSong" method="post">
  <input type="text" placeholder="artist" name="artist">
  <input type="text" placeholder="song" name="song">
  <button type="submit">Submit</button>
</form>

  <% for(var i=0; i<artist.length; i++) {%>
    <div class="card">
      <div class="cards-body" id="<%=artist[i]._id%>">
        <h5 class="card-title"><%=artist[i].artist%></h5>
          <span><%=artist[i].song%></span>
          <span><%artist[i].time%></span>
          <a href="<%=artist[i].song%>.mp3" download><i class="fa-sharp fa-solid fa-download"></i></a>
          <span><i class="fa-sharp fa-solid fa-trash"></i></span>
          <% if (artist[i].downloaded) { %>
            <p class="downloaded">DOWNLOADED</p>
            <%} else { %>
            <p></p>
            <% } %>
      </div>
    </div>
  <% } %>

  

</div>

<script src="main.js"></script>

</body>
</html>

